body{
  background-color: grey;
}
.form{
  background-color: darkgray;
  width:30%;
  float: right;
}

.slide{
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slide div {
  display: flex;
  flex-direction: column;
}
.slide .client{
  align-self: flex-end;
}